<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Server Monitor system</title>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap.css") }}">
	</head>

	<body>
		<script src="{{ static_url("js/bootstrap.js") }}"></script>
		 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Server Monitor system</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">首页</a></li>
              <li class="active"><a href="/add">添加主机</a></li>
              <li class="active"><a href="/show">删除主机</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    	<div class="row-fluid">
  		<div class="span4">...</div>
  		<div class="span8">...</div>
		</div>
		<table class="table table-striped">
			<tr><td></tr>
			<tr><td></tr>
		</table>
    <h3>服务器列表</h3>
     <table class="table table-striped table-bordered table-hover table-condensed">
      {% for server in servers%}
      <tr><td> <a href="/detail/{{ url_escape(server) }}">{{ server }}</a></tr>
       {% end %}
     </table>
     <h3>服务器性能</h3>
    <table class="table table-striped table-bordered table-hover table-condensed">
    {% for item in server_info%}
      {% for info in item %}
     <tr>
       <tr class="info"><td colspan="7"><a href="/detail/{{ url_escape(info['serverip']) }}">{{info['serverip']}}</a></tr>
      </tr>
      <tr>
        <th>基础信息<td>服务器IP<td>{{info['serverip']}}<td>时间<td>{{str(info['time'])[:-7]}}<td><td>
      </tr>
      <tr>
        <th>cpu负载<td>5秒钟<td>{{info['fiveSecUsed']}}<td>1分钟<td>{{info['oneMinUsed']}}<td>5分钟<td>{{info['fiveMinUsed']}}
      </tr>
      <tr>
        <th>内存使用<td>总内存<td>{{int(info['memTotalReal'])/1024/1024}}M<td>已用内存<td>{{int(info['memTotalUsed'])/1024/1024 }}M<td>剩余内存<td>{{int(info['memTotalFree'])/1024/1024 }}M
      </tr>
      <tr>
        <th>内存使用率<td>已用<td>{{(float(info['memTotalPer']))*100 }}%<td><td><td><td>
      </tr>

      <tr>
        <th>表项信息<td>mac表条目数<td>{{(int(info['macnum'])) }}<td>arp条目数<td>{{ int(info['arpnum']) }}<td>route条目数<td>{{ int(info['routenum']) }}
      </tr>

      <tr>
        <th>ping信息<td>丢包<td>{{(float(info['package_lost'])) }}%<td>最大延时<td>{{ float(info['mrtt']) }}ms<td>平均延时<td>{{ float(info['artt']) }}ms
      </tr>
      <tr>
       <tr class="warning"><td colspan="7">&nbsp;</tr>
      </tr>
{#        {% for i in range(len(info['ifcard'])) %}#}
{#            {{ info['ifcard'][i] }}<br>#}
{#        {% end for%}#}
       {% end %}
   {% end %}
    </table>
    </div>
    <!-- /container -->

	</body>
</html>